@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

body {
    font-family: "Barlow", sans-serif;
    line-height: 1.7;
    color: #516171;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: #092032;
}

a {
    color: #092032;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}
a:hover {
    color: #ff4d29;
}

img {
    width: 100%;    
}
section {
    padding-top: 100px;
    padding-bottom: 100px;


}
.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;  
}
.intro {
    margin-bottom: 40px;    
}
.intro h6 {
    font-weight: 400;
    color: #ff4d29;
}
.intro p {
    max-width: 500px;
    margin: auto;

}
/* NAV BAR */
.top-nav{
    background-color: #ff4d29;
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: #ffff;  
}
.top-nav i,
.top-nav span {
    vertical-align: middle;
}
.social-links a{
    width: 34px;
    height: 34px;
    background-color: rgba(255,255,255,0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; 
    font-size: 20px; 
    border-radius: 100%;
}
.social-links a:hover {
    background-color: #ffffff;
    color: #ff4d29;
}
.navbar {
    box-shadow: 0px 6px 30px ,rgba(0, 0, 0, 0.08);
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active {
color: #ff4d29;
}

.navbar-brand {
    font-weight: 700;
    font-size: 26px;
    color: #092032;
}
.navbar-brand span {
    color: #ff4d29;
}
/* BTN */
.btn {
    padding: 9px 24px;
}
.btn-brand {
    background-color: #ff4d29;
    color: #ffffff;
    border-color: #ff4d29;    
}
.btn-brand:hover {
    color: #ffffff;
    background-color: #8f1d06;    
}
/* SLIDER */
#hero-slider h1 {
    font-weight: 700 !important;

}
.slide1 {
    background: linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.4 
    )), url(../img/banner2.jpg);
}
.slide2 {
    background: linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.4 
    )), url(../img/banner4.jpg);
}

/* OWL CAROUSEL */
.owl-prev,
.owl-next {
    position:absolute;
    top: 50%;
    width: 60px !important;
    height: 60px !important;
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255, 0.2) !important;
    margin-top: -30px !important;
    color: #ffffff !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    border-radius: 100px !important;
}
.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}
.owl-next:hover,
.owl-prev:hover {
    background-color: #ff4d29;
}
/* INFO BOX */
.info-box {
    display: flex;
    align-items: center;
}
.info-box img {
    width: 150px;
    margin-right: 28px;
}
/* MILESTONE */
#milestone {
    background: linear-gradient(rgba(255, 77, 41, 0.9), rgba(255, 77, 41, 0.9) 
    ), url(../img/banner2.jpg);
}
#milestone .display-4,
#milestone p {
    color: #ffffff;
}
#milestone .display-4 {
    font-weight: 700;
}
/* SERVICES */
.service-box {
    padding: 32px;
    box-shadow: 0px 6px 30px ,rgba(0, 0, 0, 0.08);
    text-align: center;
}
.service-box img {
    width: unset;
}
.service-box h5 {
    margin-top: 24px;
    margin-bottom: 12px;  
}
/* PROJECT*/
#project-slider .owl-next,
#project-slider .owl-prev {
    background-color: rgba(255,255,255,0.5) !important;   
}
#project-slider .owl-next:hover,
#project-slider .owl-prev:hover {
    background-color: #ff4d29 !important;


}
.project {
    position: relative;
}
.project .overlay {
    background: linear-gradient(to bottom, rgba(9, 32, 50, 0.0), rgba(9, 32, 50, 0.8));
    position: absolute;
    width: 100%;
    height: 240px;
    bottom: 0;
    left: 0;
}
.project .content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 32px;
}
.project h1,
.project h6 {
    color: #ffffff;
}
.project h6 {
    font-size: 14px;
    text-transform: lowercase;    
    letter-spacing: 1px;
}
.project h6::before {
    content: '';
    height: 2px;
    width: 24px;
    background-color: #ff4d29;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
/* TEAM */
.team-member {
    text-align: center;
}
.team-member .img-wrapper {
    position: relative;
   overflow: hidden;
}
.team-member .overlay {
    position: absolute;
    top: -10%;    
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 77, 41, 0.7);
    transition: all 0.4s ease;
    opacity: 0;
}
/* .team-member .content{

}  */
.team-member .social-links {
    position: absolute;     
    top: 60%;
    left: 50%;  
    transform: translate(-50% -50%);  
    transition: all 0.4s ease;
    opacity: 0;
}
.team-member:hover .overlay {
    opacity: 1;
    top: 0;
}
.team-member:hover .social-links {
    opacity: 1;
    top: 50%;
}
.team-member h5 {
    margin-top: 24px;    
}

/* REVIEWS */
#reviews {
    background: linear-gradient(rgba(9, 32, 50, 0.8), rgba(9, 32, 50, 0.8)), url(../img/banner2.jpg);
}
.review {
    max-width: 900px;
    margin: auto;
    text-align: center;
}
.review img {
    width: 300px !important;
    border-radius: 1000px;
    margin: auto;
}
.review h4 {
    margin-top: 16px;
}
.review h4,
.review p {
    color: #ffffff;
}
.review small {
    color: #ff4d29;
}
.review p {
    margin-top: 28px;
}
.owl-dot.active span {
    background-color: #ff4d29 !important;   
}
/* BLOG */
.blog-post {
    position: relative;
}
.blog-post .tag {
    padding: 4px 12px;
    background-color: #ff4d29;
    color: #ffffff;
    border-radius: 100px;
    top: 20px;
    left: 20px;
    position: absolute; 
} 
.blog-post a {
    font-weight: 700;

}
.blog-post img {
    margin-bottom: 24px;   
}
.blog-post h4 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.blog-post small {
    color: #ff4d29;
    text-decoration: underline;
    text-transform: uppercase;
}
/* FOOTER */
footer {
    padding-top: 80px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    background: linear-gradient(rgba(9, 32, 50, 0.8), rgba(9, 32, 50, 0.8)), url(../img/banner2.jpg);
}
footer .navbar-brand {
    color: #ffffff;
    margin-bottom: 24px;
    display: inline-block;
}
.footer-top {
    margin: bottom 40px;;
}
.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 20px;
}
footer.social-links {
    margin-left: 5px;
    margin-right: 5px;
}

/* MODAL */
.form-control:focus {
    box-shadow: none;
    border-color: #ff4d29;
}













